body {
  font-family: Arial, sans-serif;
  margin: 50px;
}

main{
  border: 1px solid #ddd;
}

header{
  text-align: center;
  text-transform: uppercase;
}

.form-container {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

#user-form,
#search-form{
  flex-grow: 1;
  padding: 30px 30px 0px 30px;
}

  .form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.form-group label {
  width: 20%;
  font-weight: bold;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="url"],
.form-group input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-group button,
.container-btn button{
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.form-group button:hover,
.container-btn button:hover{
  background-color: #0056b3;
}

#student-table{
  border-radius: 8px;
  background-color: #f9f9f9;
}

thead > tr{
  text-transform: uppercase;
}

td, th{
  width: calc(100% / 8);  
  text-align: center;
}

td > img{
  border-radius: 50%;
}
/* Define animation for highlighting the searched student */
@keyframes highlight {
  0% {
    background-color: #f9f9f9;
  }
  50% {
    background-color: #e0f7fa;
  }
  100% {
    background-color: #ffffff;
  }
}

.highlighted {
  animation: highlight 1s ease;
}
